body{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQyMS0xMzItOTQtZXllLmpwZw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}.navbar-logo{
    font-size: larger;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-display:inherit;
}
.card{
    box-shadow:coral;
    text-shadow: gray;
    border-bottom-style: ridge;
}
